In [9]:
import pandas as pd
import matplotlib.pyplot as plt
internet = pd.read_csv('world-internet-users.csv')
population = pd.read_csv('historical-world-population.csv')

In [10]:
exceeds_100M = internet.query('internet_users > 100e6')
exceeds_100M.head(1)

   year  internet_users
7  1997       120000000

In [13]:
df = internet.merge(population, on='year',how='left')
df = df.dropna()
df

    year  internet_users    population
0   1990         3000000  5.327803e+09
1   1991         4000000  5.418736e+09
2   1992         7000000  5.505990e+09
3   1993        10000000  5.591545e+09
4   1994        20000000  5.675551e+09
5   1995        39000000  5.758879e+09
6   1996        77000000  5.842056e+09
7   1997       120000000  5.924788e+09
8   1998       188000000  6.007067e+09
9   1999       281000000  6.089006e+09
10  2000       414000000  6.171703e+09
11  2001       502000000  6.254936e+09
12  2002       665000000  6.337730e+09
13  2003       781000000  6.420362e+09
14  2004       913000000  6.503378e+09
15  2005      1029000000  6.586970e+09
16  2006      1161000000  6.671452e+09
17  2007      1372000000  6.757309e+09
18  2008      1573000000  6.844458e+09
19  2009      1771000000  6.932766e+09
20  2010      2021000000  7.021732e+09
21  2011      2219000000  7.110924e+09
22  2012      2427000000  7.201203e+09
23  2013      2599000000  7.291794e+09
24  2014      2794000000  7.381616e+09
25  2015      3005000000  7.470492e+09
26  2016      3256000000  7.558555e+09
27  2017      3484000000  7.645618e+09
28  2018      3796000000  7.729903e+09
29  2019      4194000000  7.811294e+09
30  2020      4700000000  7.887001e+09
31  2021      4901000000  7.954448e+09
32  2022      5300000000  8.021407e+09